<header class="title">
  <p class="fleft">Blog</p>
</header>
<div class="entry">
  <h3>{{ entry.title }}</h3>
  <div class="date">{{ locale.format_date(entry.published, full_format=True, shorter=True) }}</div>
  <div class="body">{% raw entry.html %}</div>
  {% if current_user %}
    <div class="admin"><a href="/compose?id={{ entry.id }}"><input type="submit" style="width: 150px;height: 35px;" value="{{ _("Edit this post") }}"></input></a></div>
  {% end %}
  <br/>
</div>
