{% extends "base.html" %}
 
{% block body %}
<h3>Buat Posting Baru</h3>
  <form action="{{ request.path }}" method="post" class="compose">
    <div style="margin-bottom:5px">
      <table width="120%">
        <tr>
          <td>
            <input style="width:95%" name="title" type="text" value="{{ entry.title if entry else "" }}"/>      
          </td>
          <td>
            <select name="category">
            <option value="{{ entry.category if entry else "" }}">{{ entry.category if entry else "" }}</option>
            <option value="golang">GoLang</option>
            <option value="python">Python</option>
            <option value="c-code">C-Code</option>
            </select>      
          </td>
        </tr>
      </table>
      
    </div>
    <div style="margin-bottom:5px"><textarea name="markdown" rows="30" cols="40" class="markdown">{{ entry.markdown if entry else "" }}</textarea></div>
    <div>
      <div style="float:right"><a href="http://daringfireball.net/projects/markdown/syntax">{{ _("Syntax documentation") }}</a></div>
      <input style="width: 150px;height: 40px" type="submit" value="{{ _("Save changes") if entry else _("Publish post") }}" class="submit"/>
      &nbsp;
      <a href="{{ "/entry/" + entry.slug if entry else "/" }}"><input style="width: 150px;height: 40px" type="submit" value="{{ _("Cancel") }}"></input></a>
    </div>
    {% if entry %}
      <input type="hidden" name="id" value="{{ entry.id }}"/>
    {% end %}
    {% module xsrf_form_html() %}
  </form>
  <br><br><br>
{% end %}

{% block bottom %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  //<![CDATA[

    $(function() {
      $("input[name=title]").select();
      $("form.compose").submit(function() {
          var required = ["title", "markdown"];
          var form = $(this).get(0);
          for (var i = 0; i < required.length; i++) {
              if (!form[required[i]].value) {
                  $(form[required[i]]).select();
                  return false;
              }
          }
          return true;
      });
    });

  //]]>
  </script>
{% end %}
