{% extends "base.html" %}

{% block body %}
<form action="/auth/create" method="POST">
<div class="center">
<table style="width:70%">
<tr>
    <td>
    Email:
    </td>
    <td>
        
    </td>
    <td>
    <input name="email" type="text">  
    </td>
</tr>
<tr>
    <td>
    Name:
    </td>
    <td>
        
    </td>
    <td>
    <input name="name" type="text">  
    </td>
</tr>
<tr>
    <td>
    Password:
    </td>
    <td>
        
    </td>
    <td>
    <input name="password" type="password"><br>
    </td>
  {% module xsrf_form_html() %}
</tr>
<tr>
    <td></td>
    <td></td>
    <td><input style="width: 150px;height: 40px" type="submit"></td>
</tr>
</table>
</div>
</form>
{% end %}
