{% extends "base.html" %}

</body>
{% block body %}
      <section class="part clearfix">
    <header class="title clearfix">
      <p class="fleft">Home</p>
      <a href="/archive" class="arrow more fright">see more infos</a>
    </header>
    <div class="column2 mright">
      <h1>Simple blog <br>
        for sharing code </h1>
      <p>Coding bersama kawan itu menyenangkan. Coding itu indah, kirim pesan untuk membahas kodingan anda. </p>
    </div>
    <div id="slides" class="slider column2">
      <div class="slides_container">
        <div class="slide">
          <figure> <img src="{{ static_url("python.jpg") }}" alt="">
            <figcaption>
              <div>
                <h5>GoLang</h5>
                <p>Go language for development</p>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="slide">
          <figure> <img src="{{ static_url("python2.jpg") }}" alt="Python & C Programming">
            <figcaption>
              <div>
                <h5>Python</h5>
                <p>Python & C Programming</p>
              </div>
            </figcaption>
          </figure>
        </div>
        <!--<div class="slide">
          <figure> <img src="{{ static_url("php.jpg") }}" alt="">
            <figcaption>
              <div>
                <h5>Caption 3</h5>
                <p>Lorem ipsum dolor set amet, lorem, variable length.</p>
              </div>
            </figcaption>
          </figure>
        </div>-->
      </div>
    </div>
  </section>
    <section class="part clearfix">
    <header class="title clearfix">
      <p class="fleft">Posting</p>
      <a href="/archive" class="arrow more fright">lihat semua posting</a>
    </header>
    
      {% for entry in entries %}
      <article class="column3 mpadding services">
        <!--<p class="number">{{ entry.id }}</p>
        <div class="sepmini"></div>-->
        <h5 id="titlegree">{{ entry.title }}</h5>
        <div class="body" id="greetings" style="height: 70px;">{% raw entry.html %}</div>
        
        <a href="/entry/{{ entry.slug }}" class="arrow more fright">readmore</a>
      </article>
      {% end %}
      
    <!--<article class="column3 mright services">
      <p class="number">02</p>
      <div class="sepmini"></div>
      <h5>Web development</h5>
      <div class="sepmini"></div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
      <br/>
      <a href="#" class="arrow more fright">readmore</a>
      <br/>
    </article>
    <article class="column3 services">
      <p class="number">03</p>
      <div class="sepmini"></div>
      <h5>Graphic design</h5>
      <div class="sepmini"></div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
      <br/>
      <a href="#" class="arrow more fright">readmore</a>
      <br/>
    </article>
    <article class="column3 mright services">
      <p class="number">04</p>
      <div class="sepmini"></div>
      <h5>Graphic design</h5>
      <div class="sepmini"></div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
      <br/>
      <a href="#" class="arrow more fright">readmore</a>
      <br/>
    </article>
    <article class="column3 mright services">
      <p class="number">05</p>
      <div class="sepmini"></div>
      <h5>Graphic design</h5>
      <div class="sepmini"></div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
      <br/>
      <a href="#" class="arrow more fright">readmore</a>
      <br/>
    </article>
    <article class="column3 services">
      <p class="number">06</p>
      <div class="sepmini"></div>
      <h5>Graphic design</h5>
      <div class="sepmini"></div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
      <br/>
      <a href="#" class="arrow more fright">readmore</a>
      <br/>
    </article>-->
    
  </section>
{% end %}
</body>
