{% extends "base.html" %}

<!--{% block body %}
  <ul class="archive">
    {% for entry in entries %}
      <li>
        <div class="title"><a href="/entry/{{ entry.slug }}">{{ entry.title }}</a></div>
        <div class="date">{{ locale.format_date(entry.published, full_format=True, shorter=True) }}</div>
      </li>
    {% end %}
  </ul>
{% end %}-->

{% block body %}
<div class=" center blog part clearfix">
  <header class="title">
    <p class="fleft">Hasil Pencarian</p>
  </header>
  <section class="columnthird content mright">
    <!--{% for data in entry %}-->
    <article class="post">
      <h2>{{ entry.title }}</h2>
      <div class="meta">
        <p>Diposkan pada <span class="time">{{ locale.format_date(entry.published, full_format=True, shorter=True) }}</span></p>
      </div>
      <div class="entry">
        <div class="body">{% raw entry.html %}</div>
      </div>
      <footer> <a href="/entry/{{ entry.slug }}" class="more-link">Continue reading…</a> </footer>
    </article>
    <!--{% end %}-->
  </section>
  <aside class="column4 sidebar">
    <div class="widget widget_search">
      <form ACTION="/searchpro" METHOD=POST>
      <input id="s" type="search" name="search" value="Type and hit enter to search" >
      {% raw xsrf_form_html() %}
      </form>
    </div>
    <div class="widget">
      <p>Hanya sekedar sharing, semoga bisa membantu. salam tjatur my simple blog</p>
    </div>
    <div class="widget">
      <h2>Archive</h2>
      <ul>
       {% for entryarchive in entriesarchive %}
       <li><a href="/entry/{{ entryarchive.slug }}">{{ entryarchive.title }}</a></li>
       {% end %}
      </ul>
    </div>
    <!--<div class="widget">-->
    <!--  <h2>Categories</h2>-->
    <!--  <ul>-->
    <!--    <li><a href="#">Design (99+)</a></li>-->
    <!--    <li><a href="#">Web (53)</a></li>-->
    <!--    <li><a href="#">Other (12)</a></li>-->
    <!--    <li><a href="#">Weird (4)</a></li>-->
    <!--  </ul>-->
    <!--</div>-->
    <div class="widget">
      <h2>Social</h2>
      <ul>
        <li><a href="https://plus.google.com/116020500178365408649">G++</a></li>
        <!--<li><a href="#">Comments (RSS)</a></li>-->
      </ul>
    </div>
  </aside>
</div>
{% end %}